**/__pycache__
**/.cache
**/.ipynb_checkpoints
*.log
**idea/
/multidex/cache/*
/multidex/exports/*
/multidex/saves/*
/multidex/scratch_app.py
/multidex/scratch_calc.ipynb
/multidex/app.ipynb
/multidex/notes.ipynb
/multidex/ingest_hopper/
*BAK
*scratch.py
/multidex/scratch_space/
/multidex/plotter/cruft_holder/
/multidex/data/ZCAM.sqlite3
/multidex/data/MCAM.sqlite3
