**/__pycache__
**/.cache
**/.ipynb_checkpoints
*.log
**idea/
*.egg-info
/multidex/cache/*
/multidex/exports/*
/multidex/saves/*
/multidex/scratch_app.py
/multidex/scratch_calc.ipynb
/multidex/app.ipynb
/multidex/notes.ipynb
/multidex/ingest_hopper/
/multidex/plotter/toys/*.csv
*BAK
*bak
*.zip
*scratch.py
/multidex/scratch_space/
/multidex/plotter/cruft_holder/
/multidex/plotter/application/assets/browse/mcam/*.jpg
/multidex/plotter/application/assets/browse/zcam/*.jpg
/multidex/plotter/application/assets/browse/ccam/*.jpg
/multidex/data/*CAM*.sqlite3
/multidex/data/TEST.sqlite3
/multidex/data/*.csv
*scratch*.ipynb
*scratch.js
*test.json
/multidex/notetaking_attempt_1/
!missing.jpg
*.tar
*.tar.gz
*_db_dump.csv
.coverage
/multidex/ingest/local_settings/
/multidex/data/backup
