:root {
    --dark-tint-0: rgba(0,0,50,0.05);
    --dark-tint-1: rgba(0, 0, 25, 0.18);
    --dark-tint-2: rgba(0,0,0,0.24);
    --dark-tint-3: rgba(0,0,25,0.4);
    --light-tint-1: rgba(255,255,242,0.7);
    --midnight-ochre: rgba(36, 28, 1, 1);
    --invisible-pearl: rgba(253, 253, 250, 1);
    --clean-parchment: rgba(254, 252, 245, 1);
}

html {
    background: var(--clean-parchment);
    font-size: 1rem
}

html, button, .Select {
    font-family: "Fira Mono", sans-serif;
    color: var(--midnight-ochre);
}

button, .Select {
    font-size: 0.9rem
}

button {
    background: var(--dark-tint-1);
    border: 1px solid var(--dark-tint-2);
    max-height: 2rem;
    margin-top: 0.2rem;
}

.axis-value-drop {
    min-width: 10rem;
}

.axis-value-drop .Select-value {
}

.medium-drop .Select-control .Select-value {
    font-size: 0.89rem;
    padding-left: 5px;
    padding-right: 0;
    line-height: 2rem
}



.medium-drop .Select-control {
    height:2rem;
    display:block
}

.medium-drop.term-search .Select-control .Select-value {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    line-height: 1rem;
}

.medium-drop .Select-control .Select-placeholder {
    display: none
}

.medium-drop.term-search .Select-control {
    height: fit-content;
    min-height: 2rem;
    max-height: 4rem;
    overflow-y: auto;
}

.medium-drop.term-search .Select-control .Select-value-label {
    padding: 2px 2px;
    font-size: .8rem
}


.medium-drop.term-search .Select-control .Select-input {
    padding: 2px 2px;
    font-size: .8rem;
    height: 1rem;
    display: flex;
}

.medium-drop.term-search .Select-clear {
    display: none
}


.filter-drop {
    display: block;
    min-width: 6rem;
    margin-right: 1rem
}

.filter-drop .Select-value {
    padding-right: 0;
    font-size: 0.82rem;
}

.filter-drop.right-filter-drop {
    margin-right:0
}

.color-drop {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem
}

.color-drop .Select-value {
}

.Select-control, .tab-container, .tab {
    background: var(--invisible-pearl);
    background-color: var(--invisible-pearl) !important;
}


.graph-controls-container {
    display: flex;
    max-height: 12rem
}

/*.graph-controls-container::-webkit-scrollbar {*/
/*      display: block;*/
/*      width: 10em;*/
/*      overflow: auto;*/
/*      height: 2em;*/
/*}*/

/*.Select-menu-outer {*/
/*    background: blue;*/
    /*z-index: 999 !important;*/
    /*overflow: visible !important;*/
    /*position: -webkit-sticky;*/
/*}*/

.search-controls-container {
    display: flex;
    flex-wrap: wrap;
}

.radio-items {
    font-size: 0.85rem
}

.scale-controls-container {
    width: 15rem;
}

.load-button-container, .search-parameter-container {
    width: 12rem;
    margin-left:0.3rem;
    margin-right:0.3rem;
    margin-top: 0.2rem;
}

.search-parameter-container .Select-value {
}

.Select-arrow {
    display: none
}

.input[type="radio"] {
    padding: 0
}

.Select-value .Select-input {
    /*padding-right: 0;*/
    /*font-size: 0.4rem;*/
}

.search-button-container {
    max-width: 15rem;
    display: flex;
    flex-direction: column;
    margin-top:1.1rem;
    margin-left:0.1rem
}

.axis-controls-container {
    margin-left:0.3rem;
    margin-right:0.3rem;
    margin-top: 0.2rem;
}

.filter-container {
    display: flex
}

.graph-bounds-div {
    display:flex
}

.graph-bounds-axis-container {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem
}

.info-text {
    font-size: 0.7rem
}

.axis-title-text{
    font-size:0.92rem;
}

.collapse-div {
    min-width: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center
}

.tooltiptext {
    visibility: hidden;
    color: #000;
    background: aliceblue;
    position: absolute;
    top: 1rem;
    z-index: 1;
    font-size: 0.75rem;
    max-width: 9.5rem;
}

.tooltipped:hover .tooltiptext {
  visibility: visible;
}

.arrow {
    border: solid var(--midnight-ochre);
    border-width: 0 0.25rem 0.25rem 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    background: rgba(0,0,0,0);
    max-width:0;
    padding: 0.4rem;
}

.collapse-text {
    writing-mode: tb;
    -webkit-writing-mode: tb;
    display: none;
    font-size: 0.8rem
}


.collapsible-panel {
    flex-shrink: 0
}

@font-face {
    font-family: "Fira Mono";
    src: url("../fonts/FiraMono-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Fira Mono";
    src: url("../fonts/FiraMono-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Fira Mono";
    src: url("../fonts/FiraMono-Bold.ttf") format("truetype");
    font-weight: 700;
}


/*todo: figure out how hard it is to override core components with CSS --
    otherwise staying inside dash layer inside react virtual DOM
    (using update_layout() methods of components) may be preferable */
/* for instance this immediately gets overwritten by element styling on
the 'bg' element but is accessible with paper_bgcolor and plot_bgcolor
using update_layout() methods of dash components
 */
/*.main-svg {*/
/*    background: rgba(0,0,0,0);*/
/*}*/

/*.bg {*/
/*    background: rgba(0,0,0,0);*/
/*    fill: rgba(0,0,0,0);*/
/*}*/