:root {
    --dark-tint-0: rgba(0,0,50,0.05);
    --dark-tint-1: rgba(0, 0, 25, 0.18);
    --dark-tint-2: rgba(0,0,0,0.24);
    --light-tint-1: rgba(255,255,242,0.7);
    --midnight-ochre: rgba(36, 28, 1, 1);
    --invisible-pearl: rgba(253, 253, 250, 1);
    --clean-parchment: rgba(254, 252, 245, 1);
}

html {
    background: var(--clean-parchment);
}

html, button, .Select {
    font-family: "Fira Mono", sans-serif;
    color: var(--midnight-ochre);
}

button {
    background: var(--dark-tint-1);
    border: 1px solid var(--dark-tint-2);
    max-height: 2rem;
    font-size: 1rem;
    margin-top: 0.2rem;
}

.axis-value-drop {
    min-width: 12rem
}

.filter-drop {
    display: block;
    min-width: 6rem;
    margin-right: 1rem
}

.color-scale-drop {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem
}

.Select-control, .tab-container, .tab {
    background: var(--invisible-pearl);
    background-color: var(--invisible-pearl) !important;
}

.graph-controls-container, .search-controls-container {
    display: flex;
    flex-wrap: wrap
}

.scale-controls-container {
    width: 15rem;
}

.load-button-container, .search-parameter-container {
    width: 12rem;
    margin-left:0.3rem;
    margin-right:0.3rem;
    margin-top: 0.2rem
}

.search-button-container {
    max-width: 15rem;
    display: flex;
    flex-direction: column;
    margin-top:1.1rem;
    margin-left:0.1rem
}

.axis-controls-container {
    margin-left:0.3rem;
    margin-right:0.3rem;
    margin-top: 0.2rem
}

.filter-container {
    display: flex
}

.graph-bounds-div {
    display:flex
}

.graph-bounds-axis-container {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem
}

.info-text {
    font-size: 0.7rem
}

.collapse-div {
    min-width: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center
}

.arrow {
    border: solid var(--midnight-ochre);
    border-width: 0 0.25rem 0.25rem 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    background: rgba(0,0,0,0);
    max-width:0;
    padding: 0.4rem;
}

.collapse-text {
    writing-mode: tb;
    -webkit-writing-mode: tb;
    display: none
}


@font-face {
    font-family: "Fira Mono";
    src: url("FiraMono-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Fira Mono";
    src: url("FiraMono-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Fira Mono";
    src: url("FiraMono-Bold.ttf") format("truetype");
    font-weight: 700;
}


/*todo: figure out how hard it is to override core components with CSS --
    otherwise staying inside dash layer inside react virtual DOM
    (using update_layout() methods of components) may be preferable */
/* for instance this immediately gets overwritten by element styling on
the 'bg' element but is accessible with paper_bgcolor and plot_bgcolor
using update_layout() methods of dash components
 */
/*.main-svg {*/
/*    background: rgba(0,0,0,0);*/
/*}*/

/*.bg {*/
/*    background: rgba(0,0,0,0);*/
/*    fill: rgba(0,0,0,0);*/
/*}*/